.container__big-card{

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  @media(min-width: 700px) {
    width: 200px;
    margin-bottom: 0;
  }
  @media(min-width: 1000px) {
    width: 400px;
  }
}

.big-card__title > h1  {
  margin-top: 15px;
  font-size: 20px;
}

.big-card__description{
  margin-top: 20px;
}

.big-card__description > p > a {
  color: grey;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.big-card__photo > img{
  width: 100%;
  height: auto;
  @media(min-width: 700px) {
    min-width: 200px;
  }
  @media(min-width: 1000px) {
    min-width: 400px;
  }
}
