.container__menu-title{
  color: rgb(113, 113, 113);
}

.container__menu-title > h1{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 135px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  color: rgb(113, 113, 113);

}

.container__menu-title > hr{
  margin-top: 20px;
  margin-bottom: 5px;
}
