.container__menu-title{
  color: white;
}

.container__menu-title > h1{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 135px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
}

.container__menu-title > hr{
  margin-top: 20px;
  margin-bottom: 5px;
}
