.container__small-card{
  margin-bottom: 15px;

  @media(min-width: 1000px) {
    width: 700px;
  }
}

.container__small-card-content{
  display: flex;
  flex-direction: row;
  padding: 20px;
  box-sizing: border-box;
}

.small-card__photo > img {
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-card__title > h1 {
  font-size: 16px;
}

.container__small-card__separator{
  margin-top: 10px;
}
