<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="./../assets/cleancode.jpg"
      cardTitle="Clean Code: Boas práticas de programação"
      cardDescription="Aprenda a escrever um código limpo e de qualidade"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Atualizações da nova versão do Angular"
      photoCover="./../assets/angular.png"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Boas práticas React"
      photoCover="./../assets/react.jpg"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Dicas para aprender Flutter"
      photoCover="./../assets/flutter.jpg"
    >
    </app-small-card>
  </div>
</div>
