.container__menu-bar>ul {
  display: flex;
  flex-direction: row;
}

.container__menu-bar>ul>li {
  margin-right: 20px;
  list-style: none;
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .container__menu-bar {
    width: 400px;
    height: 400px;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .container__menu-bar {
    width: 200px;
    height: 200px;
  }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  .container__menu-bar {
    width: 400px;
    height: 200px;
  }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .container__menu-bar {
    width: 400px;
    height: 200px;
  }
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .container__menu-bar {
    width: 400px;
    height: 400px;
  }
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .container__menu-bar {
    width: 400px;
    height: 400px;
  }
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
  .container__menu-bar {
    width: 400px;
    height: 400px;
  }
}